h1 {
    color: #0066ff;
}

.company-info {
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
    left: 20px;  /* Move 20px to the right */
    top: 10px;   /* Move 10px below its current position */
}

.stock-details {
    background-color: lightcyan;  /* Change background to lightcyan */
    padding: 10px;                /* Padding of 10px on all sides */
    position: fixed;              /* Fix the position to the bottom-right */
    bottom: 10px;                 /* 10px offset from the bottom */
    right: 10px;                  /* 10px offset from the right */
}

.stock-details .current-price p {
    color: green;
}

.stock-details .price-change p {
    color: red;
    position: sticky;
}

body {
    margin: 0;
    padding: 20px;
    height: 2000px; /* To enable scrolling */
}
